@import "tailwindcss";

@theme {
  --color-main: #15495a;
  --color-second: #1c576b;
  --color-primary: #dceeff;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
